@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1.5;
}


html {
  max-width: 1200px;
  margin: auto;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}


ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  color: darkgreen;
  text-decoration: none;
}

a:hover,
a:focus,
img:focus,
select:focus {
  color: #3397db;
  text-decoration: none;
  border: 4px solid red !important;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Helvetica, sans-serif;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

section {
  width: 100%;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
  max-width: 1200px;
}

#footer {
  background-color: #444;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 25px 20px;
  text-align: center;
  text-transform: uppercase;
}

#footer a{
  color: orange;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: darkgreen;
  text-align: center;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

}

#breadcrumb {
  padding: 10px 40px 15px;
  background-color: #eee;
  font-size: 22px;
  margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 200px;
  max-height: 30%;
  width: 100%;
  max-width: 1200px;
  background-color: #ccc;
}

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 10px;
  font-size: 36px;
}

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  display: none;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /* height: 50px; */
  background-color: darkgreen;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.filter-options h2 {
  color: white;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 15px;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 5px 0px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  min-height: 380px;
  text-align: left;
  width: 90%;
  margin: 2.5% 5% 2.5% 5%;
  border-radius: 5px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: darkgreen;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 16px;
}

#restaurant-info-container {
  padding: 1% 0% 3% 4%;
}

#restaurants-list li a {
  background-color: darkgreen;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  margin: 15px 0 0;
  padding: 15px 30px 15px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  max-width: 1200px;
  z-index: 1000;
}

.inside #map {
  background-color: #ccc;
}

#restaurant-name {
  color: darkgreen;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  padding: 20px 0px;
  text-transform: uppercase;
  line-height: 1.25;
}

#restaurant-img {
  width: 100%;
  margin: auto;
}

#restaurant-address {
  font-size: 20px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 10px 0px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin: auto;
}

#restaurant-container,

#reviews-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#opening-hours-container {
  margin: auto;
  color: #f58500;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
}

#reviews-container {
  padding-top: 20px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  position: relative;
  border-radius: 5px;
}

#reviews-list li p {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
  padding: 0px 15px;
  letter-spacing: 1px;
}

.review-name-and-date {
  display: flex;
  justify-content: space-between;
  background: #333;
  border-radius: 5px;
}

.review-name-and-date p {
  color: white;
}

#review-date {
  opacity: 0.8;
}

#review-rate {
  background: darkgreen;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px !important;
  display: -webkit-inline-box;
  letter-spacing: 1px;
  margin: 15px;
}

#restaurant-hours td {
  color: #666;
  font-size: 16px;
  line-height: 1.2;
}

/*****  RESPONSIVE *****/

@media only screen and (min-width: 800px) {

  #reviews-list li p,
  #restaurant-hours td {
    font-size: 20px;
    line-height: 1.25;
  }

  #restaurants-list li h1 {
    font-size: 22px;
  }

  #restaurants-list p {

    font-size: 18px;
  }
}

@media only screen and (min-width: 950px) {

  #reviews-list li p,
  #restaurant-hours td {
    font-size: 22px;
    line-height: 1.25;
  }

  nav h1 a {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1050px) {

  #reviews-list li p,
  #restaurant-hours td {
    font-size: 24px;
    line-height: 1.25;
  }

  #restaurants-list li h1 {
    font-size: 24px;
  }

  #restaurants-list p {
    font-size: 20px;
  }

  nav h1 a {
    font-size: 26px;
  }

  ul,
  li {
    font-size: 18px;
  }

  #restaurant-address {
    font-size: 22px;
  }

  #restaurant-name {
    font-size: 34px;
  }
}